<div class="col-12 mt-4">
    <div class="dashboard">
        <div class="row">
            <div class="col-lg-7 col-xs-12">
                <div class="d-flex row px-3">
                    <div class="profileImage p-1">
                        <img src="../../../assets/img/profile.png" alt="profile" class="m-auto">
                    </div>
                    <p class="p-16 px-2 py-3">Profile</p>
                </div>
                <form #profileForm="ngForm" (ngSubmit)="submit()">
                    <input type="text" class="form-control mb-3" placeholder="Full NAME"
                        value="{{this.user.message?.firstname}}" #firstname="ngModel" [(ngModel)]="profile.firstname"
                        name="firstname" required>
                    <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)" class="text-danger">
                        <div *ngIf="firstname.errors?.required">
                            firstname is required.
                        </div>
                    </div>
                    <input type="text" class="form-control mb-3" placeholder="LAST NAME"
                        value="{{this.user.message?.lastname}}" #lastname="ngModel" [(ngModel)]="profile.lastname"
                        name="lastname" required>
                    <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)" class="text-danger">
                        <div *ngIf="lastname.errors?.required">
                            lastname is required.
                        </div>
                    </div>
                    <input type="number" class="form-control mb-3" placeholder="+234 817 0000 000"
                        value="{{this.user.message?.phoneNumber}}" #phoneNumber="ngModel"
                        [(ngModel)]="profile.phoneNumber" name="phoneNumber" required>
                    <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)"
                        class="text-danger">
                        <div *ngIf="phoneNumber.errors?.required">
                            phoneNumber is required.
                        </div>
                    </div>
                    <input type="email" class="form-control mb-3" placeholder="Mail@gmail.com"
                        value="{{this.user.message?.email}}" #email="ngModel" [(ngModel)]="profile.email" name="email"
                        pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{3,}" required>
                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
                        <div *ngIf="email.errors?.required">
                            Email is required.
                        </div>
                    </div>
                    <div *ngIf="email.errors?.pattern" class="text-danger">Please enter valid email</div><br>
                    <!-- <input type="password" class="form-control mb-3" placeholder="●●●●●●●" value="{{this.user.message?.password}}"> -->
                    <button class="btn btn-White mb-2 mr-2" style="width: 180px;" (click)="cancel()">CANCEL</button>
                    <button class="btn btn-Orange mb-2" style="width: 200px;"
                        [disabled]="!profileForm.form.valid">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>