<div class="container">
  <div class="row">
      <div class="col-12 mb-3">
          <p class="p-17">

              Transaction Completed
          </p>
      </div>
      <div class="col-lg-4 col-xs-12">

          <p class="p-15">
            Token Code:
          </p>
      </div>
      <div class="col-lg-8 col-xs-12">
          <p class="p-15">
              <b>98643207530973</b>
          </p>
      </div>
      <div class="col-lg-4 col-xs-12">
          <p class="p-15">
            Bill Type:
          </p>
      </div>
      <div class="col-lg-8 col-xs-12">
          <p class="p-15">
            {{this.user.bill}}
          </p>
      </div>
      <div class="col-lg-4 col-xs-12">
          <p class="p-15">
            Transaction ID:
          </p>
      </div>
      <div class="col-lg-8 col-xs-12">
          <p class="p-15">
            {{this.user.ref}}
          </p>
      </div>
      <div class="col-lg-4 col-xs-12">
          <p class="p-15">
            State:
          </p>
      </div>
      <div class="col-lg-8 col-xs-12">
          <p class="p-15">
            {{this.user.state}}
          </p>
      </div>
      <div class="col-lg-4 col-xs-12">
          <p class="p-15">
            Disco:
          </p>
      </div>
      <div class="col-lg-8 col-xs-12">
          <p class="p-15">
            {{this.user.disco}}
          </p>
      </div>
      <div class="col-lg-4 col-xs-12">
          <p class="p-15">
            Meter Number:
          </p>
      </div>
      <div class="col-lg-8 col-xs-12">
          <p class="p-15">
            {{this.user.meter}}
          </p>
      </div>
      <div class="col-lg-4 col-xs-12">
          <p class="p-15">
            Amount:
          </p>
      </div>
      <div class="col-lg-8 col-xs-12">
          <p class="p-15">
            {{this.user.amount}}
          </p>
      </div>
      <div class="col-lg-4 col-xs-12">
          <p class="p-15">
            Payment Method:
          </p>
      </div>
      <div class="col-lg-8 col-xs-12">
          <p class="p-15">
            {{this.user.paymentMethod}}
          </p>
      </div>
      <div class="col-12 mt-4">

          <p class="text-right">
              <button class="btn btn-clear mr-3" (click)="onPrint()">
                  <img src="../../../assets/img/print.png" alt=""> Print
              </button>

          </p>

      </div>
  </div>

</div>
