<div id="signup">
  <div class="container pt-3 pb-2">
    <div class="row">
      <div class="col-lg-10 col-xs-12 m-auto">
          <div class="dashboard" style="background: #fff;">
            <p class="p-16">View Tweets</p>
            <div class="col-8">
              <p class="s-13 btxtt">
                Total Number of Records: <small class="s-23">{{this.record?.length}} </small>
            </p>
              <a href="#" class="s-13 gtxtt">Save Tweet</a> <br>
              <a class="s-13 gtxtt text-danger" (click)="showYorubaBible()" >View Yoruba Corpus</a> <br>
              <a href ="/tweet"class="s-13 gtxtt text-primary" >View Tweet Corpus</a>
            </div>
            <div class="col-12 my-4">
              <div class="table-responsive-md" style="border: 1px solid #e6e9ec;">
                  <table class="table table-striped">
                      <thead>
                          <th>S|N</th>
                          <th>MESSAGE</th>
                          <th>SOURCE</th>
                          <th>AREA</th>
                          <th>DATE</th>
                          <th></th>
                      </thead>
      
                      <tbody>
                        <tr *ngFor="let yoruba of record  | paginate: config ; let i=index;">
                            <td class="p-14">{{i + 1}}</td>
                            <td class="p-14">{{yoruba.text}}</td>
                            <td class="p-14">{{yoruba?.source}}</td>
                            <td class="p-14">{{yoruba?.source}}</td>
                            <td class="p-14">{{dt | date:'shortDate'}}</td>
                           
                            <td>
                              <div class="dropdown show">
                                <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                                  <i class="ion-android-more-vertical" style="color: #a0a0a0; font-size: 18px;"></i>
                                </a>
                              </div>
                            </td>
                          </tr>   
                    </tbody>
                  </table>
                  <!-- pagination controls -->
                  <pagination-controls 
                  [maxSize]="maxSize"
                  [directionLinks]="directionLinks"
                  [autoHide]="autoHide"
                  [responsive]="responsive"
                  [previousLabel]="labels.previousLabel"
                  [nextLabel]="labels.nextLabel"
                  [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                  [screenReaderPageLabel]="labels.screenReaderPageLabel"
                  [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                  (pageChange)="onPageChange($event)"></pagination-controls>
    
    
              </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>