<div class="container-fluid">
  <div class="row" style="margin-top: 100px;">
      <div class="col-12 mb-4">
        <h5 class="adh5">Add Disco</h5>
      </div>
      <div class="col-12">
        <form #discoform = "ngForm">
          <div class="col-lg-3 col-xs-12 mb-4">
            <div class="selectBox3">
              <select #state="ngModel" [(ngModel)]="user.state" name="state" id class="form-control" >
                <option value>Select State</option>
                <option *ngFor="let state of states" [value]="state.state">{{state.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-9 col-xs-12"></div>
          <div class="col-lg-3 col-xs-12 mb-4">
            <div class="selectBox3">
              <select #disco="ngModel" [(ngModel)]="user.disco" name="disco" id class="form-control" >
                <option value>Select Disco</option>
                <option *ngFor="let disco of discos" [value]="disco.disco">{{disco.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-9 col-xs-12"></div>
          <div class="col-lg-12 mb-4">
            <button type="submit" class="btn btn-Orange px-3" [disabled]="!discoform.form.valid" (click)="registerdisco()" >
              Add Disco
            </button>
          </div>
        </form>
      </div>
    <div class="col-12">
      <div class="p-2" style="border: 1px solid #e6e9ec">
        <div class="row">
          <div class="col-lg-4">
            <div class="input-group admin">
              <div class="input-group-prepend px-2 py-2">
                <img src="../../../assets/img/search.svg" alt="search">
              </div>
              <input type="text" placeholder="Search" class="form-control s-14">
            </div>
          </div>
          <div class="col-lg-2"></div>
          <div class="col-lg-2"></div>
          <div class="col-lg-2"></div>
          <div class="col-lg-2">
            <div class="dropdown show">
              <button class="btn btn-Orange dropdown-toggle" style="width: 130px;" id="dropdownMenuLink"
                data-toggle="dropdown">
                Export &nbsp;&nbsp;<i class="ion-chevron-down" style="font-size: 12px;"></i>
              </button>


              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">CSV</a>
                <a class="dropdown-item" href="#">PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 my-4">
      <div class="table-responsive-md" style="border: 1px solid #e6e9ec;">
        <table class="table table-striped">
          <thead>
            <th>STATE</th>
            <th>DISCO</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="ml-auto">ACTION</th>
          </thead>
          <tbody>
            <tr *ngFor="let discos of regdisco"> 
              <td>{{discos.state}}</td>
              <td colspan="5">{{discos.disco}}</td>
              <td  class="ml-auto"><a (click)= "deleteDisco(discos._id)">
                  <img src="../../../assets/img/ic_delete_24px.png" alt="">&nbsp;&nbsp;&nbsp;  Delete
                </a></td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-12 mt-4">
      <button class="btn btn-Orange" style="width: 130px;">
        Publish
      </button>
    </div>
  </div>
</div>