.btn-Orange {
    font-family: Avenir;
    /* max-width: 200px; */
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1px;
    border: solid 0.5px #f16722;
    background-color: #f16722 !important;
    transition: .3s ease-in-out;

}

.btnOutOrange {
    font-family: Avenir;
    /* max-width: 200px; */
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: dashed 0.5px #f16722 !important;
    background-color: #ffffff !important;
}

.btn-soc {
    border-radius: 100% !important;
}

input[type='text'], input[type='tel'], input[type='email'], input[type='password'], textarea.help {
    font-family: Avenir;
    font-size: 14px !important;
}

.btn-White {
    font-family: Avenir;
    /* max-width: 200px; */
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1px;
    border: solid 0.5px #f16722 !important;
    background-color: #ffffff !important;
    transition: .3s ease-in-out !important;
}