<div>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">
        <div class="d-flex row">
          <div>
            <img src="../assets/img/lightt.svg" alt="logo">
          </div>
          <div class="maxx px-3 py-1"><b>Infinite</b>&nbsp; Light</div>
        </div>
      </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto smooth-scroll">
          <li class="nav-item px-3">
            <a class="nav-link" [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
          </li>
          <li class="nav-item px-3 dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Pay Bills
              <i class="ion-ios-arrow-down ml-2"></i>
            </a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/user-bill']">Electricity Bill</a>

            </div>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" routerLink="/about" data-offset="90">About Us</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" routerLink="/contact" data-offset="90">Contact Us</a>
          </li>
          <li class="nav-item px-3 login">
            <a class="nav-link" routerLink="/signup">
              <img src="../assets/img/login@3x.png" height="15px;"> &nbsp;&nbsp;&nbsp;Sign Up</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
  <div id="signup">
    <div class="container">
      <div class="row" style="padding-top: +100px;">
        <div class="row mt-4 pt-5 px-lg-5 m-auto userbill" style="background: #fafafa; border: 1px solid #e8e8e8;">
          <div class="col-12 mb-3">
            <p class="p-17">

              Transaction Completed
            </p>
          </div>
          <div class="col-lg-4 col-xs-12">

            <p class="p-15">
              <b>Token Code:</b>
              
            </p>
          </div>
          <div class="col-lg-8 col-xs-12">
            <p class="p-15">
              <b>98643207530973</b>
            </p>
          </div>
          <div class="col-lg-4 col-xs-12">
            <p class="p-15">
              <b>Bill Type:</b>
            </p>
          </div>
          <div class="col-lg-8 col-xs-12">
            <p class="p-15">
              {{this.user.bill}}
            </p>
          </div>
          <div class="col-lg-4 col-xs-12">
            <p class="p-15">
              <b>Transaction ID:</b>
            </p>
          </div>
          <div class="col-lg-8 col-xs-12">
            <p class="p-15">
              {{this.user.ref}}
            </p>
          </div>
          <div class="col-lg-4 col-xs-12">
            <p class="p-15">
              <b>State:</b>
            </p>
          </div>
          <div class="col-lg-8 col-xs-12">
            <p class="p-15">
              {{this.user.state}}
            </p>
          </div>
          <div class="col-lg-4 col-xs-12">
            <p class="p-15">
              <b>Disco:</b>
            </p>
          </div>
          <div class="col-lg-8 col-xs-12">
            <p class="p-15">
              {{this.user.disco}}
            </p>
          </div>
          <div class="col-lg-4 col-xs-12">
            <p class="p-15">
              <b>Meter Number:</b>
            </p>
          </div>
          <div class="col-lg-8 col-xs-12">
            <p class="p-15">
              {{this.user.meter}}
            </p>
          </div>
          <div class="col-lg-4 col-xs-12">
            <p class="p-15">
              <b>Amount:</b>
            </p>
          </div>
          <div class="col-lg-8 col-xs-12">
            <p class="p-15">
              {{this.user.amount}}
            </p>
          </div>
          <div class="col-lg-4 col-xs-12">
            <p class="p-15">
              <b>Payment Method:</b>
            </p>
          </div>
          <div class="col-lg-8 col-xs-12">
            <p class="p-15">
              {{this.user.paymentMethod}}
            </p>
          </div>
          <div class="col-12 mt-4">

            <p class="text-right">
              <button class="btn btn-clear mr-3" (click)="onPrint()">
                <img src="../../../assets/img/print.png" alt=""> Print
              </button>

            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>