/* .btn-Orange{
  font-family: Avenir;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 1px;
  border: solid 0.5px #f16722;
  background-color: #f16722;
  transition: .3s ease-in-out;
  }
  .btn-Orange:hover{
  border: solid 0.5px #f16722;
  background-color: #fff;
  }
  .btn-White{
  font-family: Avenir;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border-radius: 1px;
  border: solid 0.5px #f16722;
  background-color: #ffffff;
  transition: .3s ease-in-out;
  }
  .btn-White:hover{
  border: solid 0.5px #f16722;
  background-color: #f16722;
  color: #fff;
  } */