
      <div class="col-12 mt-4">
          <div class="dashboard">
              <div class="row">
                
                  <div class="col-lg-7 col-xs-12">
                      <form #pwChange="ngForm" >
                      <p class="p-16">Change Password</p>
                      <input type="password" class="form-control mb-3 mt-4"
                          placeholder="Enter Current Password"  #currentpass="ngModel" [(ngModel)]="changepwd.currentpass"
                          name="currentpass" (focusout)="checkpwdexist()" (keyup.enter)="checkpwdexist()" required [disabled] = "!curntpwdChange">
                            <div *ngIf="currentpass?.invalid && (currentpass?.dirty || currentpass?.touched)" class="text-danger">
                                <div *ngIf="currentpass.errors?.required">
                                    current Password is required.
                                </div>
                            </div>
                            <div ng-message="required" style="color: red !important"  *ngIf="pwdexist"> {{pwdexist}} </div>
                      <input type="password" class="form-control mb-3" placeholder="Enter New Password" #newpassword="ngModel" [(ngModel)]="changepwd.newpassword"
                      name="newpassword" required (ngModelChange)="onChange()" [disabled]="!newpwdChange">
                        <div *ngIf="newpassword?.invalid && (newpassword?.dirty || newpassword?.touched)" class="text-danger">
                            <div *ngIf="newpassword.errors?.required">
                                new password is required.
                            </div>
                        </div>
                        <input type="password" class="form-control mb-3" placeholder="Confirm New Password" #confirmpassword="ngModel" [(ngModel)]="changepwd.confirmpassword"
                        name="confirmpassword" required (ngModelChange)="onChange()" [disabled]="!confpwdChange">
                          <div *ngIf="confirmpassword?.invalid && (confirmpassword?.dirty || confirmpassword?.touched)" class="text-danger">
                              <div *ngIf="confirmpassword.errors?.required">
                                  Confirm password is required.
                              </div>
                          </div>
                          <div ng-message="required" style="color: red !important"  *ngIf="match">
                            {{match}}
                          </div><br>
                      <button class="btn btn-White mb-2 mr-2" (click)="cancel()" style="width: 180px;">CANCEL</button>
                      <button class="btn btn-Orange mb-2" (click)="passwordChange()" [disabled]="!pwdChange" style="width: 200px;">CONTINUE</button>
                    </form>
                  </div>
               
              </div>
          </div>
      </div>
