<div>
  <div class="row" style="margin-top: 100px;">
    <div class="col-12">
      <h5 class="adh5">Orders </h5>
    </div>
    <div class="col-lg-12 mt-4">
      <div class="p-2" style="border: 1px solid #e6e9ec">
        <div class="row">
          <div class="col-lg-2">
            <div class="input-group admin">
              <div class="input-group-prepend pt-2 px-2">
                <i class="fas fa-align-left" style="color: #31384c;font-size: 16px;"></i>
              </div>
              <div class="selectBox1">
                <select name="" id="" class="form-control">
                  <option value="">Filter By</option>
                  <option value="">Bill Type</option>
                  <option value="">Payment Method</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="input-group admin">
              <div class="input-group-prepend px-2 py-2">
                <img src="../../../assets/img/search.svg" alt="search">
              </div>
              <input type="text" placeholder="Search" class="form-control s-14">
            </div>
          </div>
          <div class="col-lg-2"></div>
          <div class="col-lg-2"></div>
          <div class="col-lg-2"></div>
          <div class="col-lg-2">
            <div class="dropdown show">
              <button class="btn btn-Orange dropdown-toggle" style="width: 130px;" id="dropdownMenuLink"
                data-toggle="dropdown">
                Export &nbsp;&nbsp;<i class="ion-chevron-down" style="font-size: 12px;"></i>
              </button>


              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">CSV</a>
                <a class="dropdown-item" href="#">PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 my-4">
      <div class="table-responsive-md" style="border: 1px solid #e6e9ec;">
        <table class="table table-striped">
          <thead>
            <th>USER</th>
            <th>METER NUMBER</th>
            <th>AMOUNT</th>
            <th>BILL TYPE</th>
            <th>TOP UP DATE</th>
            <th>TOKEN CODE</th>
            <th>PAYMENT METHOD</th>
            <th>STATUS</th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>Usman Usman</td>
              <td>35467653567</td>
              <td>5,000</td>
              <td>Electricity</td>
              <td>25 Dec 2019 05:47PM</td>
              <td>1227-2420-1290-5321</td>
              <td>Interswitch</td>
              <td>
                <p style="color: #3fa500;">Completed</p>
              </td>
              <td>
                <div class="dropdown show">
                  <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                    <i class="ion-android-more-vertical" style="color: #a0a0a0; font-size: 18px;"></i>
                  </a>

                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Usman Usman</td>
              <td>35467653567</td>
              <td>5,000</td>
              <td>Electricity</td>
              <td>25 Dec 2019 05:47PM</td>
              <td>1227-2420-1290-5321</td>
              <td>Interswitch</td>
              <td>
                <p style="color: #b82525;">Declined</p>
              </td>
              <td>
                <div class="dropdown show">
                  <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                    <i class="ion-android-more-vertical" style="color: #a0a0a0; font-size: 18px;"></i>
                  </a>

                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Usman Usman</td>
              <td>35467653567</td>
              <td>5,000</td>
              <td>Electricity</td>
              <td>25 Dec 2019 05:47PM</td>
              <td>1227-2420-1290-5321</td>
              <td>Interswitch</td>
              <td>
                <p style="color: #b82525;">Declined</p>
              </td>
              <td>
                <div class="dropdown show">
                  <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                    <i class="ion-android-more-vertical" style="color: #a0a0a0; font-size: 18px;"></i>
                  </a>

                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>