<div class="container-fluid">
  <div class="row" style="margin-top: 100px;">
      <div class="col-12 mb-4">
          <h5 class="adh5">Feeds</h5>
      </div>
      <div class="col-lg-3 col-xs-12 mb-4">
          <div class="lightBox mb-3">
              <div class="d-flex">
                  <div class="s-14">Title</div>
                  <div class="dropdown show ml-auto">
                      <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                          <i class="ion-android-more-vertical"
                              style="color: #a0a0a0; font-size: 18px;"></i>
                      </a>

                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="lightBox">
              <p class="s-14">
                  But I must explain to you how all this
                  mistaken idea of denouncing pleasure
                  and praising pain was born and I will
                  give you a complete account of the
                  system, and expound the actual
                  teachings of the great explorer of the
                  truth, the master-builder of human
                  happiness.
              </p>
          </div>
      </div>
      <div class="col-lg-3 col-xs-12 mb-4">
          <div class="lightBox mb-3">
              <div class="d-flex">
                  <div class="s-14">Title</div>
                  <div class="dropdown show ml-auto">
                      <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                          <i class="ion-android-more-vertical"
                              style="color: #a0a0a0; font-size: 18px;"></i>
                      </a>

                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="lightBox">
              <p class="s-14">
                  But I must explain to you how all this
                  mistaken idea of denouncing pleasure
                  and praising pain was born and I will
                  give you a complete account of the
                  system, and expound the actual
                  teachings of the great explorer of the
                  truth, the master-builder of human
                  happiness.
              </p>
          </div>
      </div>
      <div class="col-lg-3 col-xs-12 mb-4">
          <div class="lightBox mb-3">
              <div class="d-flex">
                  <div class="s-14">Title</div>
                  <div class="dropdown show ml-auto">
                      <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                          <i class="ion-android-more-vertical"
                              style="color: #a0a0a0; font-size: 18px;"></i>
                      </a>

                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="lightBox">
              <p class="s-14">
                  But I must explain to you how all this
                  mistaken idea of denouncing pleasure
                  and praising pain was born and I will
                  give you a complete account of the
                  system, and expound the actual
                  teachings of the great explorer of the
                  truth, the master-builder of human
                  happiness.
              </p>
          </div>

      </div>
      <div class="col-lg-3 col-xs-12">
          <div class="lightBox mb-3">
              <div class="d-flex">
                  <div class="s-14">Title</div>
                  <div class="dropdown show ml-auto">
                      <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                          <i class="ion-android-more-vertical"
                              style="color: #a0a0a0; font-size: 18px;"></i>
                      </a>

                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="lightBox">
              <p class="s-14">
                  But I must explain to you how all this
                  mistaken idea of denouncing pleasure
                  and praising pain was born and I will
                  give you a complete account of the
                  system, and expound the actual
                  teachings of the great explorer of the
                  truth, the master-builder of human
                  happiness.
              </p>
          </div>

      </div>
      <div class="col-lg-12 mt-4">
          <button class="btn btn-Orange" style="width: 130px;">
              Publish
          </button>
      </div>
  </div>
</div>