<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <div class="d-flex row">
                <div>
                    <img src="../../../assets/img/lightt.svg" alt="logo">
                </div>
  
                <div class="maxx px-3 py-1"><b>Infinite</b>&nbsp; Light</div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ion-android-menu"></i>
        </button>
  
        <div class="ml-auto px-1 py-0 border-left">
            <a class="p-13" href="#gallery" data-offset="90">
                Ademosu Adeposi <br>
                <a href="#" class="p-11">Logout</a>
            </a>
        </div>
       
    </div>
  </nav>

  <div class="container" style="margin-top: 130px;">
      <div class="row">
          <div class="col-lg-2 px-0 d-none d-lg-block">
              <div class="greyRec py-3">
                  <ul class="list-unstyled ">
                      <li class="nav-item active">
                          <a class="nav-link" [routerLink]="['/dashboard']">
                              <div class="row">
                                  <div class="col-3">
                                      <img src="../../../assets/img/orange/1.png" height="22px" alt="dashboard">
                                  </div>
                                  <div class="col-9 py-1">
                                      Dashboard
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" [routerLink]="['/manage-wallet']">
                              <div class="row">
                                  <div class="col-3">
                                      <img src="../../../assets/img/grey/f.png" height="22px" alt="Manage wallet">
                                  </div>
                                  <div class="col-9 py-1">
                                      Manage Wallet
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" [routerLink]="['/pay-bills']">
                              <div class="row">
                                  <div class="col-3">
                                      <img src="../../../assets/img/grey/b.png" height="22px" alt="pay bills">
                                  </div>
                                  <div class="col-9 py-1">
                                      Pay Bills
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" [routerLink]="['/history']">
                              <div class="row">
                                  <div class="col-3">
                                      <img src="../../../assets/img/grey/e.png" class="aa" height="22px" alt="History">
                                  </div>
                                  <div class="col-9 py-1">
                                      History
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" [routerLink]="['/referrals']">
                              <div class="row">
                                  <div class="col-3">
                                      <img src="../../../assets/img/grey/d.png" height="22px" alt="Referrals">
                                  </div>
                                  <div class="col-9 py-1">
                                      Referrals
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" [routerLink]="['/help']">
                              <div class="row">
                                  <div class="col-3">
                                      <img src="../../../assets/img/grey/c.png" height="22px" alt="Help">
                                  </div>
                                  <div class="col-9 py-1">
                                      Help
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href='#pageSubmenu' data-toggle="collapse" aria-expanded="false"
                              class="dropdown-toggle">
                              <div class="row p-3">
                                  <div class="col-3">
                                      <img src="../../../assets/img/grey/settn.png" class="aa" height="22px" alt="Settings">
                                  </div>
                                  <div class="col-9 py-1">
                                      Settings<i class="ion-ios-arrow-right pull-right"></i>
                                  </div>
                              </div>
                              <ul class="collapse list-unstyled px-3" id="pageSubmenu">
                                  <li>
                                      <a [routerLink]="['/profile']">Profile</a>
                                  </li>
                                  <li>
                                      <a [routerLink]="['/change-password']">Change Password</a>
                                  </li>
    
                              </ul>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>

  <div class="col-lg-8 main px-lg-5 mb-3">
      <div class="row">
          <div class="col-12">
              <h4>
                  <img src="../../../assets/img/pay.svg" alt="pay bills">&nbsp; Pay Bills
              </h4>
          </div>
          <div class="col-12 mt-4 pt-5" style="background: #fafafa; border: 1px solid #e8e8e8;">
              <div class="d-none d-lg-block">
                  <ul class="nav nav-tabs justify-content-center" role="tablist">
                      <li class="nav-item mx-3">
                          <a class="nav-link active" href="#paybill" role="tab" data-toggle="tab">PAY BILL</a>
                      </li>
                      <li class="nav-item mx-3">
                          <a class="nav-link" href="#payment" role="tab" data-toggle="tab">PAYMENT</a>
                      </li>
                      <li class="nav-item mx-3">
                          <a class="nav-link" href="#review" role="tab" data-toggle="tab">REVIEW BILL</a>
                      </li>
                      <li class="nav-item mx-3">
                          <a class="nav-link" href="#done" role="tab" data-toggle="tab">DONE</a>
                      </li>
                  </ul>
              </div>

              <div class="d-lg-none">
                  <ul class="nav nav-tabs ico justify-content-center" role="tablist">
                      <li class="nav-item mx-3">
                          <a class="nav-link active" href="#paybill" role="tab" data-toggle="tab">
                              <i class="ion-card"></i>
                          </a>
                      </li>
                      <li class="nav-item mx-3">
                          <a class="nav-link" href="#payment" role="tab" data-toggle="tab">
                              <i class="ion-cash"></i>
                          </a>
                      </li>
                      <li class="nav-item mx-3">
                          <a class="nav-link" href="#review" role="tab" data-toggle="tab">
                              <i class="ion-android-search"></i>
                          </a>
                      </li>
                      <li class="nav-item mx-3">
                          <a class="nav-link" href="#done" role="tab" data-toggle="tab">
                              <i class="ion-android-done-all"></i>
                          </a>
                      </li>
                  </ul>
              </div>

              <!-- Tab panes -->
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active py-5 px-3" id="paybill">
                      <div class="row">
                          <div class="col-lg-7 col-xs-12">
                              <p class="p-17">
                                  What do want to do?
                              </p>
                              <p class="p-14">
                                  Select bill below to continue
                              </p>
                              <div class="selectBox mt-3">
                                  <select name="" id="" class="form-control">
                                      <option value="">Electricity</option>
                                      <option value="">Water</option>
                                      <option value="">Heat</option>
                                  </select>
                              </div>
                              <div class="selectBox mt-3">
                                  <select name id class="form-control">
                                      <option value>Select State</option>
                                      <option value>Abuja</option>
                                      <option value>Lagos</option>

                                  </select>
                              </div>
                              <div class="selectBox mt-3">
                                  <select name id class="form-control">
                                      <option value>Select Disco</option>
                                      <option value>Abuja</option>
                                      <option value>Lagos</option>
                                  </select>
                              </div>
                              <input type="text" class="form-control mt-3" style="height: 40px;"
                                  placeholder="Enter Meter Number" value ={{this.user?.meter_number}}>

                              <p class="p-17 mt-5">
                                  How much do you want?
                              </p>
                              <input type="text" class="form-control mt-3 mb-4"  value ={{this.user?.amount}}>
                              <button class="btn btn-White mb-2 mr-2" style="width: 203px;">CANCEL</button>
                              <button class="btn btn-Orange mb-2" style="width: 203px;">CONTINUE</button>
                          </div>
                      </div>

                  </div>
                  <div role="tabpanel" class="tab-pane py-5" id="payment">
                      <div class="col-lg-7 m-auto">
                          <p class="p-17">
                              Select payment method
                          </p>
                          <p class="p-14">
                              Input card details
                          </p>
                          <a href="#" class="mr-4">
                              <img src="../../../assets/img/mastercard@2x.png" alt="mastercard">
                          </a>
                          <a href="#" class="mr-4">
                              <img src="../../../assets/img/visa@2x.png" alt="visa">
                          </a>
                          <a href="#" class="">
                              <img src="../../../assets/img/verve.jpg" alt="verve">
                          </a>
                          <div class="selectBox mt-3">
                              <select name="" id="" class="form-control">
                                  <option value="">Select Card Type</option>
                                  <option value="">Water</option>
                                  <option value="">Heat</option>
                              </select>
                          </div>
                          <div class="row">
                              <div class="col-12">
                                  <input type="text" class="form-control mt-3" placeholder="Enter full name">
                              </div>

                              <div class="col-8">
                                  <input type="text" class="form-control mt-3" placeholder="enter card number">
                              </div>
                              <div class="col-4">
                                  <input type="text" class="form-control mt-3" placeholder="cvc">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-5">
                                  <div class="selectBox2 mt-3">
                                      <select name="" id="" class="form-control">
                                          <option value="">Month</option>
                                          <option value="">Water</option>
                                          <option value="">Heat</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-7">
                                  <div class="selectBox2 mt-3">
                                      <select name="" id="" class="form-control">
                                          <option value="">Year</option>
                                          <option value="">Water</option>
                                          <option value="">Heat</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-12 mt-3">
                                  <button class="btn btn-White mb-2 mr-2"
                                      style="width: 203px;">CANCEL</button>
                                  <button class="btn btn-Orange mb-2" style="width: 203px;">CONTINUE</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div role="tabpanel" class="tab-pane py-5" id="review">
                      <div class="col-lg-7 m-auto">
                          <p class="p-17">
                              Review Payment
                          </p>
                          <input type="text" class="form-control mt-5">
                          <input type="text" class="form-control mt-3">
                          <input type="text" class="form-control mt-3 mb-4">
                          <button class="btn btn-White mb-2 mr-2" style="width: 203px;">CANCEL</button>
                          <button class="btn btn-Orange mb-2" style="width: 203px;">SUBMIT</button>
                      </div>
                  </div>
                  <div role="tabpanel" class="tab-pane py-5" id="done">
                      <div class="container">
                          <div class="row">
                              <div class="col-12 mb-3">
                                  <p class="p-17">
                                      Transaction Completed
                                  </p>
                              </div>
                              <div class="col-lg-4 col-xs-12">
                                  <p class="p-15">
                                      Token Code:
                                  </p>
                              </div>
                              <div class="col-lg-8 col-xs-12">
                                  <p class="p-15">
                                      <b>98643207530973</b>
                                  </p>
                              </div>
                              <div class="col-lg-4 col-xs-12">
                                  <p class="p-15">
                                      Bill Type
                                  </p>
                              </div>
                              <div class="col-lg-8 col-xs-12">
                                  <p class="p-15">
                                      ELECTRICITY
                                  </p>
                              </div>
                              <div class="col-lg-4 col-xs-12">
                                  <p class="p-15">
                                      Transaction ID:
                                  </p>
                              </div>
                              <div class="col-lg-8 col-xs-12">
                                  <p class="p-15">
                                      IL480B428SH
                                  </p>
                              </div>
                              <div class="col-lg-4 col-xs-12">
                                  <p class="p-15">
                                      State:
                                  </p>
                              </div>
                              <div class="col-lg-8 col-xs-12">
                                  <p class="p-15">
                                      Abuja
                                  </p>
                              </div>
                              <div class="col-lg-4 col-xs-12">
                                  <p class="p-15">
                                      Disco:
                                  </p>
                              </div>
                              <div class="col-lg-8 col-xs-12">
                                  <p class="p-15">
                                      Abuja Electricity Distribution Company
                                  </p>
                              </div>
                              <div class="col-lg-4 col-xs-12">
                                  <p class="p-15">
                                      Meter Number:
                                  </p>
                              </div>
                              <div class="col-lg-8 col-xs-12">
                                  <p class="p-15">
                                      843486547238344
                                  </p>
                              </div>
                              <div class="col-lg-4 col-xs-12">
                                  <p class="p-15">
                                      Amount:
                                  </p>
                              </div>
                              <div class="col-lg-8 col-xs-12">
                                  <p class="p-15">
                                      N8,000
                                  </p>
                              </div>
                              <div class="col-lg-4 col-xs-12">
                                  <p class="p-15">
                                      Payment Method:
                                  </p>
                              </div>
                              <div class="col-lg-8 col-xs-12">
                                  <p class="p-15">
                                      INSTANT PAY
                                  </p>
                              </div>
                              <div class="col-12 mt-4">
                                  <p class="text-center">
                                      <button class="btn btn-Orange mb-2" style="width: 203px;">DONE</button>
                                  </p>
                                  <p class="text-right">
                                      <button class="btn btn-clear mr-3">
                                          <img src="../../../assets/img/print.png" alt=""> Print
                                      </button>
                                      <button class="btn btn-clear">
                                          <img src="../../../assets/img/exp.png" alt=""> Export
                                      </button>
                                  </p>

                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-2">
      <div class="row">
          <div class="col-12 ">
              <button class="btn btnOutOrange w-100 ml-0" style="font-size: 13px; height: 40px;">
                  TOP UP WALLET
              </button>
          </div>
          <div class="col-12 mt-4">
              <div class="greyBox p-3">
                  <h5>Rewards and Offers</h5>
                  <p class="pt-2 pb-4 p-12 border-bottom">
                      Top up now with
                      N6000 and above to
                      get 10% discount off.
                  </p>
                  <p class="pt-2 pb-5 p-12 py-2">
                      Refer 10 of your friends
                      to use Infinite Light to
                      get 5,000 electricity
                      units.
                  </p>
              </div>
              <p class="p-14 mt-4">
                  Tell someone about Infinite
                  Light
              </p>
              <p class="p-14" style="font-weight: 300; color: #707070;">
                  Share our link on
              </p>
          </div>
      </div>
  </div>
</div>
</div>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>