<div>
    <div class="row">
        <div class="col-12">
            <h4>
                <img src="../../../assets/img/pay.svg" alt="Dashboard">&nbsp; Pay Bills
            </h4>
        </div>
        <div class="col-12 mt-4 pt-5" style="background: #fafafa; border: 1px solid #e8e8e8;">

            <!-- Tab panes -->
            <div class="tab-content">

                <form [formGroup]="billformGroup">
                    <mat-horizontal-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="billformGroup">
                        <ng-template matStepLabel>Initiate</ng-template>
                    <div class="row">
                        <div class="col-lg-7 col-xs-12">
                            <!-- <p class="p-17">
                                What do want to do?
                            </p> -->
                            <p class="p-14">
                                Select bill below to continue
                            </p>
                            <div class="selectBox mt-3">
                                <select formControlName="bill" class="form-control">
                                    <option value="Electricity">Electricity</option>
                                </select>
                            </div>
                            <div class="selectBox mt-3">
                                <select formControlName="state" class="form-control">
                                    <option value="">Select State</option>
                                    <option value="Abuja">Abuja</option>
                                    <option value="Lagos">Lagos</option>

                                </select>
                            </div>
                            <div class="selectBox mt-3">
                                <select formControlName="disco" class="form-control">
                                    <option value="">Select Disco</option>
                                    <option value="Abuja Disco">Abuja Disco</option>
                                    <option value="Lagos Disco">Lagos Disco</option>
                                </select>
                            </div>
                            <input formControlName="meter" class="form-control mt-3" style="height: 40px;"
                                placeholder="Enter Meter Number">

                            <p class="p-17 mt-5">
                                How much do you want?
                            </p>
                            <input formControlName="amount" class="form-control mt-3 mb-4">
                            <p class="p-17 mt-5">
                                Enter your email
                            </p>
                            <input type="email"  formControlName="email" class="form-control mt-3 mb-4">
                            <button mat-button class="mybtn btn-full px-4 py-2" matStepperNext type="button">Next</button>
                        </div>
                    </div>
                    </mat-step>

                <!-- Step two starts here -->
                  <mat-step>
                    <ng-template matStepLabel>Review & Pay</ng-template>
                    <div class="w-100">
                    <!-- <p class="w-100">You are now done.</p> -->
                    <ul style="margin-left: 20%; list-style-type: none;">
                      <li>
                        Bill<strong>:&nbsp;{{billformGroup.value.bill}}</strong>
                      </li>
                      <li>
                       State<strong>:&nbsp;{{billformGroup.value.state}}</strong>
                      </li>
                      <li>
                       Disco<strong>:&nbsp;{{billformGroup.value.disco}}</strong>
                      </li>
                      <li>
                       Meter<strong>:&nbsp;{{billformGroup.value.meter}}</strong>
                      </li>
                      <li>
                       Amount<strong>:&nbsp;{{billformGroup.value.amount}}</strong>
                      </li>
                      <li>
                       Email<strong>:&nbsp;{{billformGroup.value.email}}</strong>
                      </li>
                    </ul>
                    </div><br/><br/>
                    <div style="margin-left: 20%;">
                      <button mat-button class="mybtn btn-full px-2 py-2" matStepperPrevious>Back</button>&nbsp;&nbsp;
                      <angular4-paystack
                      [key]="'pk_test_5a8bec923a3f6471bc8d6a5824bd9d6075868940'"
                      [email]="billformGroup.value.email"
                      [amount]="billformGroup.value.amount * 100"
                      [ref]="billformGroup.value.ref"
                      [channels]="['card']"
                      [class]="'mybtn btn-full px-4 py-2'"
                      (close)="paymentCancel()"
                      (callback)="paymentDone($event)"
                      (click)="processPayment()">Pay</angular4-paystack>
                    </div>
                  </mat-step>
                </mat-horizontal-stepper>
              </form>
            </div>
        </div>
    </div>
